.mainDiv {
  text-align: center;
  background-color: gray;
  padding-top: 5%;
  height: 100vh;
  width: 100vw;
}
.dieSize{
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px; 
  background-color: white; 

}
.diceContainer {
  display: flex;
  flex-direction: row;
  width: 40%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  justify-content: space-around;
  
}
.scorecard{
  width: 40%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}
table{
  width: 99%;
  margin: auto;
}
td {
  border: 1px solid gray;
}

.newGame {

  margin-right: 0px;

}
