.mainDiv {
  background-color: gray;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
.dieSize{
  height: 45px;
  width: 45px;
  border: 1px solid black;
  border-radius: 5px;
  /* margin: 5px;  */
  background-color: rgb(245, 245, 245); 
  font-size: 2em;

  animation-name: dieRollAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform-origin: initial;
}
.pip{
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 2px;  
  background-color:black;

}
.die1{
  height: 100%;
  width:  100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.die2{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.die2 .pip:nth-of-type(2) {
  align-self: flex-end;
}
.die3{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.die3 .pip:nth-of-type(2){
  align-self: center;
}
.die3 .pip:nth-of-type(3){
  align-self: flex-end;
}
.die4 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.die4 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.die5 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.die5 .column:nth-of-type(2){
  align-self: center;
  justify-content: center;
}
.die5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.die6 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.die6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.diceContainer {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: row;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 47, 92);
  justify-content: space-around;
  align-items: center;
  border-radius: 5px 5px 0px 0px;

}
.dieBox{
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  /* height: 100%;
  width: 100%; */
  
}
@keyframes dieRollAnimation { 
  0%{
    transform: rotate(-45deg) scale(.8)
  }
  20%{
    transform: rotate(45deg) scale(1)
  }
  40%{
    transform: rotate(45deg)
  }
  60%{
    transform: rotate(-45deg)
  }
  100%{  
  }
}
.dieBox label{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.btnRollDice{
width: 70px;
height: 60px;
font-size: 1.25em;
background-color: rgb(180, 180, 180);
color: rgb(0, 47, 92);
}
button, [type=submit]{
  text-align: center;
  border-radius: 5px;
  background-color: rgb(0, 47, 92);
  color: white;
  cursor: pointer;
  margin: 0px 3px;
  box-shadow: 3px 3px 3px black;
  font-weight: 600;
  line-height: 1em;
  font-size: 1em;
  padding: 2px;
}
p,h2,h3,label{
  padding:7px;
}
h1{
  text-align: center;
  padding: 7px;
}

.closeModalBtn{
  position: fixed;
  right: 6px;
  top: 9px;
  background-color: rgb(180, 180, 180);
  color: rgb(0, 47, 92);
  height: 25px;
  width: 25px;
  padding: 0px;
  font-weight: 500
}

.preRoll{
  background-color: white;
  color: rgb(0, 47, 92)
}
.firstRoll{
  background-color: #0a0;
  color: white;
}
.secondRoll{
  background-color: rgb(255, 251, 0);
  color: rgb(0, 47, 92);
}
.lastRoll{
  background-color: rgb(255, 51, 0);
  color: white;}
.rollsRemaining{
  width: 500px;
  text-align: center;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  height: 1.5em;
  line-height: 1.5em;
}
.scorecard{
  width: 500px;
  text-align: center;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.highlight{
  background-color: #0a0;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  font-weight: 600;
}
.highlight:hover{
  font-style: oblique;
  background-color: rgb(0, 114, 0);
  cursor: pointer;

}
.noHighlight{
  border-radius: 0px;
  cursor: pointer;
  color: rgb(180, 0, 0);
  font-weight: 500;
}
.noHighlight:hover{
  text-decoration-line: line-through;
  font-style: oblique;
  color: rgb(180,0,0);
  border-radius: 0px;


}
.crossedOut{
  text-decoration-line: line-through;
  font-style: oblique;
  color: rgba(0, 48, 92, 0.5);  


}
.scored{
  color: rgba(0, 48, 92, 0.5);  

}

table{
  width: 99%;
  margin: auto;
  border-collapse: collapse;
}

tr:nth-of-type(odd){
  background-color: white;
}
tr:nth-of-type(even){
  background-color: rgb(181, 200, 255);
}
td {
  border: 1px solid gray;
  /* border-radius: 5px; */
}
.scoreColumn{
  width: 35px;
  border-radius: 0px;
}
.cursorSelect{
  cursor: pointer;
}
.cursorHelp{
  cursor: help;
}
.lock {
  height: 30px;
  width: 30px;

}
.hints{
  font-style: italic;
  font-size: 1.1em;
  font-weight: 700;
}

th{
  color: white;
  background-color: rgb(0, 47, 92);
  margin-bottom: 15px;
  padding: 5px;

}
.highScoresTr{
  background-color: rgb(0, 47, 92) ;
}

.name{
  text-align: center;
  padding: 2px;
  height: 1.2em;
  border: 0px ;
  border-radius: 0px;
  margin: 0px;

}
.score{
  border: 0px ;
  font-weight: 600; 
  text-align: center;
  padding: 2px;
  height: 1.2em;
  border-radius: 0px;
  margin: 0px;
}
.taunt{
  border: 0px ;
  font-style: oblique;
  text-align: center;
  padding: 2px;
  height: 1.2em;
  border-radius: 0px;
  margin: 0px;
}

form {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
}
form div{
  width: 100%;
  margin: auto;
}
form div input{
  border-radius: 5px;
  width: 85%;
  /* height: 1em; */
  padding: 4px;
  text-align: center;
  margin: 4px;
  background-color: rgb(250, 250, 250);
  font-size: 1.25em;
  line-height: 1em;

}
form div textarea{
  border-radius: 5px;
  width: 85%;
  padding: 4px;
  text-align: center;
  height: 5em;
  margin: 4px;
  background-color: rgb(250, 250, 250);
  font-size: 1.2em;
  line-height: 1em;
  font-style: oblique;

}
.rules{
  background-color: rgb(250, 250, 250);
  width: 80%;
  margin: auto;
  color:  rgb(0, 47, 92);
  padding: 1px;
}
@media ( max-width: 800px) and (min-width: 481px) {
  .mainDiv {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .diceContainer {
    width: 100%;
    height: 135px;
    border-radius: 0px;
  }
  .pip{
    width: 13px;
    height: 13px;
    margin: 3px;  

  }
  .dieSize{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(245, 245, 245); 
    font-size: 2em;
    line-height: 1em;
    /* padding: auto ; */
  
  }
  .btnRollDice{
    width: 90px;
    height: 80px;
    font-size: 2em; 
    text-align: center;
  }
  .lock {
    margin-top: 10px;
    height: 40px;
    width: 40px;
  
  }
  .scorecard{
    width: 100%;
    font-size: 1.6em;
  }  
   .rollsRemaining{
    width: 100%;
    font-size: 1.75em;
  } 

  button{
    width: 30%;
    height: 50px;
    text-align: center;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 1em;
    font-size: .9em;
  } 

  td {
    height: 35px;
  }
  .rules{
    width: 90%;
  } 
  .name{
    height: 2em;
  }
  .score{
    height: 2em;
  }
  .taunt{
    height: 2em;
  }  
  form div input{
    font-size: 2.5em;
    line-height: 2em;
  
  }
  form div textarea{
    margin-top: 10px;
    font-size: 2.2em;
    line-height: 2em;

  }
  [type=submit]{
    margin-top: 10px;
    line-height: 2em;
    font-size: 2em;
  }
}

@media (max-width: 480px) { 
  .mainDiv {
    padding-top: 0px;
  }
  .diceContainer {
  width: 100%;
  border-radius: 0px;
  }
  .pip{
    
    width: 9px;
    height: 9px;
    margin: 1px;    
  }
  .btnRollDice{
    width: 50px;
    height: 40px;
    font-size: 1em; 
    text-align: center;
  }
  button{
    width: 30%;
    text-align: center;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 4px;

  }
  .scorecard{
    width: 100%;

  }
  .rollsRemaining{
    width: 100%;
  }
  .dieSize{
    height: 35px;
    width: 35px;
    font-size: 1.5em;
  
  }
  .lock {
    height: 20px;
    width: 20px;
  
  }
  td {
    height: 35px;
  }
  .rules{
    width: 275px;
  }

 }